.top-catg-img {
  width: 100%;
  height: 300px;
  display: block;
  h3 {
    font-size: 14px;
    color: slategray;
    font-weight: 500;
    position: absolute;
    z-index: 9;
    padding: 10px;
  }
  img {
    z-index: 5;
    width: 100%;
    object-fit: cover;
    height: 300px;
    position: absolute;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
